* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 80vh;
    background: url(/image-site/img-font/car-604019_1280.jpg) center/cover;
}
 li {
    list-style: none;
 }
.logo {
    height: 5vh;
    width: auto;
}

.menu_nav {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Ajout pour centrer verticalement */
    padding: 1em;
}

.nav_fill {
    display: flex;
    flex-wrap: wrap; 
    gap: 1em; 
}

.lien {
    border-radius: 10px;
    background-color: brown;
}

.lien a {
    color: aliceblue;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5em 1em; 
}

.lien:hover{
    background-color: rgba(241,82,8,0.918);
}


.compte {
    background-color: brown;
    border-radius: 10px;
    padding: 0.5em 1em; 
}

.compte:hover{
    background-color: rgba(241,82,8,0.918);
}

.connecter {
    text-transform: uppercase;
    color: aliceblue;
    text-decoration: none;
}

.head_txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.head_txt h3 {
    font-size: 2rem;
    color: rgb(230, 207, 33);
    
    animation-name: movetxt;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;

}

.head_txt h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: rgb(235, 239, 8);
    animation-name: movetxt2;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;

}

@keyframes movetxt{
    0%{
        opacity: 0;
    transform:translate(-100%)
    }
    80%{
    transform:translate(20%)
    }
   
}

@keyframes movetxt2{
    0%{
        opacity: 0;
    transform:translate(100%)
    }
    80%{
    transform:translate(-20%)
    }
}


.galerie {
    padding: 0.5em 1em;
    background: transparent;
    text-transform: uppercase;
    font-size: 1rem; /* Réduction de la taille pour les appareils mobiles */
    border-radius: 15px;
    border-style: ridge;
    cursor: pointer;
}

.galerie:hover {
    background-color: brown;
}

.galerie a {
    text-decoration: none;
    color: aliceblue;
}
