main {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 20px;
    background: url(/image-site/img-font/car-604019_1280.jpg) no-repeat center/cover ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

form {
    height: auto;
    width: 40em;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
}



label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #003d82;
}


li {
    list-style: none;
 }
.logo {
    height: 5vh;
    width: auto;
}

.menu_nav {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Ajout pour centrer verticalement */
    padding: 1em; /* Ajout pour l'espacement */
}

.nav_fill {
    display: flex;
    flex-wrap: wrap; /* Ajout pour permettre le retour à la ligne */
    gap: 1em; /* Ajout pour l'espacement entre les éléments */
}

.lien {
    border-radius: 10px;
    background-color: brown;
}

.lien a {
    color: aliceblue;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5em 1em; /* Ajout pour l'espacement intérieur */
}

.lien:hover{
    background-color: rgba(241,82,8,0.918);
}


.compte {
    background-color: brown;
    border-radius: 10px;
    padding: 0.5em 1em; /* Ajout pour l'espacement intérieur */
}

.compte:hover{
    background-color: rgba(241,82,8,0.918);
}

.connecter {
    text-transform: uppercase;
    color: aliceblue;
    text-decoration: none;
}